 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-text-1 {
  margin: 147px auto 0;
}

.u-section-1 .u-text-2 {
  width: 735px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 735px;
  margin: 22px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/6165803/images/baker-holding-metal-tray-full-fresh-croissants-illuminated-with-lovely-light-from-window-ai-generative.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 660px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: -18px;
}

.u-section-3 .u-image-1 {
  min-height: 550px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/6165803/images/close-up-woman-dusting-sugar-powder-strawberry-tart.jpg");
  --radius: 40px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 550px;
  background-image: none;
  --radius: 40px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: -103px;
  }

  .u-section-3 .u-image-1 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 32px;
  }

  .u-section-3 .u-image-1 {
    min-height: 348px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-3 .u-image-1 {
    min-height: 522px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-3 .u-image-1 {
    min-height: 329px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -303px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  align-self: center;
  margin: 29px auto 0 0;
  padding: 9px 30px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 31px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1736px;
}

.u-section-5 .u-text-1 {
  margin: 60px 543px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 19px 694px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 29px;
  margin-bottom: 27px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 506px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-gap: 20px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-5 .u-image-4 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-10 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-5 .u-image-5 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-12 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-5 .u-image-6 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-14 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-5 .u-image-7 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-15 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-16 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-5 .u-image-8 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-17 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-18 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-5 .u-image-9 {
  height: 258px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-5 .u-text-19 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-20 {
  font-style: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 343px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 494px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 421px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  }

  .u-section-5 .u-image-1 {
    height: 204px;
  }

  .u-section-5 .u-image-2 {
    height: 204px;
  }

  .u-section-5 .u-image-3 {
    height: 204px;
  }

  .u-section-5 .u-image-4 {
    height: 204px;
  }

  .u-section-5 .u-image-5 {
    height: 204px;
  }

  .u-section-5 .u-image-6 {
    height: 204px;
  }

  .u-section-5 .u-image-7 {
    height: 204px;
  }

  .u-section-5 .u-image-8 {
    height: 204px;
  }

  .u-section-5 .u-image-9 {
    height: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 123px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 274px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 821px;
    grid-auto-columns: calc(50% - 9.999975px);
  }

  .u-section-5 .u-image-1 {
    height: 242px;
  }

  .u-section-5 .u-image-2 {
    height: 242px;
  }

  .u-section-5 .u-image-3 {
    height: 242px;
  }

  .u-section-5 .u-image-4 {
    height: 242px;
  }

  .u-section-5 .u-image-5 {
    height: 242px;
  }

  .u-section-5 .u-image-6 {
    height: 242px;
  }

  .u-section-5 .u-image-7 {
    height: 242px;
  }

  .u-section-5 .u-image-8 {
    height: 242px;
  }

  .u-section-5 .u-image-9 {
    height: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-8 {
    height: 419px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-9 {
    height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 258px;
  }

  .u-section-5 .u-image-2 {
    height: 258px;
  }

  .u-section-5 .u-image-3 {
    height: 258px;
  }

  .u-section-5 .u-image-4 {
    height: 258px;
  }

  .u-section-5 .u-image-5 {
    height: 258px;
  }

  .u-section-5 .u-image-6 {
    height: 258px;
  }

  .u-section-5 .u-image-7 {
    height: 258px;
  }

  .u-section-5 .u-image-8 {
    height: 258px;
  }

  .u-section-5 .u-image-9 {
    height: 258px;
  }
} .u-section-6 {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/6165803/images/kneading-dough-composition-bakery-top.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 353px;
}

.u-section-7 .u-list-1 {
  margin-bottom: -82px;
  margin-top: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 233px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  margin: 42px 325px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  margin: 42px 325px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 192px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 125px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}