/*.block-black {
    color: #ffffff;
    background-color: #000000;
}
.block-clearfix::before, .block-clearfix::after {
    content: '';
    display: table;
}
    Эти блоки были добавлены вначале работы, 
    но потом я заменил их на уже готовые,
    дабы не плодить лишние копии стилей основного макета
*/
.b-container {
    padding: 10% 0;
}
.b-layout {
    display: flex;
}
.b-layout-row {
    flex-direction: row;
    flex-wrap: wrap;
}
.b-layout-column {
    width: 46%;
    margin: 2%;
}
.b-layout-bg-light {
    color: #111111;
    background-color: #e1c7c8;
    border-radius: 40px;
}
.b-layout-bg-light p {
    margin: 8%;
}
.b-text{
    padding: 0 7%;
}
.b-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 40px;
}
.b-header {
    text-align: center;
}
@media (min-width: 576px) and (max-width: 767px) {
    .b-layout-row {
        flex-direction: column;
    }
    .b-layout-column {
        width: 100%;
    }
}